.card {
    position: relative;
    border-radius: 10px;
    height: 260px;
    margin-top: 30px;
    perspective: 1000px;
    transform: 0.3s ease;
  }
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .8s;
    transform-origin: center;
  }
  .card-inner.clicked {
    transform: rotateX(180deg);
  }
  .card-face {
    box-shadow: 10px 10px 20px #9b9b9b, -10px -10px 20px #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .card-front {
    background-image: url('../images/card-bg.jpg');
    background-size: cover;
    transform: rotateX(0deg);
  }
  .card-back {
    background-image: url('../images/card-bg.jpg');
    background-size: 500px;
    transform: rotateX(180deg);
  }
.card-number {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #d1dbfc73;
    color: #ffffff;
    text-align: center;
    width: 90%;
    height: 40px;
    padding: 5px 20px;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
.card-type {
    position: absolute;
    top: 10%;
    right: 5%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
    height: 50px;
}
.card-name {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 10px;
    bottom: 10%;
    left: 5%;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    background-color: #d1dbfc73;
    width: 50%;
    height: 50px;
}
.card-date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    right: 5%;
    background-color: #d1dbfc73;
    color: #ffffff;
    font-size: 16px;
    background-color: #d1dbfc73;
    width: 30%;
    height: 50px;
}
.card-cvv{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 10%;
    right: 5%;
    background-color: #d1dbfc73;
    color: #ffffff;
    font-size: 20px;
    box-shadow: none;
    width: 30%;
    height: 60px;
    border: none;
    cursor: default;
}
.black-line {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.774);
  margin-top: 30px;
}
.card-cvv:active, .card-cvv:focus {
  outline: none !important;
}
.dark-card {
  box-shadow: 10px 10px 20px #0f0f0f, -10px -10px 20px #272727;
}
