* {
    box-sizing: border-box;
    min-width: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
}
h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.month-input, .year-input {
    position: relative;
    padding: 0;
    outline: 0;
    background: #2ecc71;
    border: 1px solid crimson;
    padding: 4px;
    border-radius: 10px;
    padding: 5px !important; 
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .input-fields {
    z-index: 222;
  }
  .input-line {
    z-index: 1;
  }
.material-symbols-outlined {
    display: block;

    /* background-color: aquamarine; */
}
.placeholder {
    padding-left: 10px;
}
.month-ul, .year-ul {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 130px;
    height: 0;
    /* height: auto; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    /* transform: scale(0); */
    transition: height 1.5s ease;
    /* transition: transform 2s; */
}
.year-input {

}
.m-li, .y-li {
    /* height: 100%; */
    padding: 8px 0;
    text-align: center;
    /* height: 0; */
    /* transform: scale(0); */
}

.none-appear {
    opacity: 0;
   /* transition: ease 2s; */
    /* transform: scale(1); */
}
/* .none-disappear {
    opacity: 1;
    transform: scale(1);
    animation: disappearAnimation ease-in;
} */
  
.container {
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
}
.valid {
    background-color: palegreen;
}
.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.long, .input-line {
    width:  460px;
    height: 50px;
    border-radius: 10px;
}
.long, .small {
    font-size: 20px;
    padding: 0 20px;
}
.input-line{
    display: flex;
    gap: 20px;
}
.small {
    border-radius: 10px;
    width: 130px;
}

.cvv-input {
    text-align: center;
    width: 100px;
    margin-left: auto;
}

   
.submit-btn {
    z-index: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {}